// global reset

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  /*10px/16px * 100 = 62.5*/
}

body {
    box-sizing: border-box; 
    // font-family: 'Courier New', Courier, monospace;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #fafafa;
}
